[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[64E3-8E07]
row=5
col=9

[8A946EF5946EE365]
row=3
col=9

[AC42253242250326]
row=4
col=9

[Trash]
row=2
col=9

[/]
row=0
col=9

[/home/kali]
row=1
col=9

