[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[AC42253242250326]
row=2
col=0

[64E3-8E07]
row=0
col=0

[8A946EF5946EE365]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/kali]
row=5
col=0

